body {
    margin: 0;
    background-color: #F6EDC2;
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.om-oss {
    margin: auto;  
    width: 40%; 
}

.pizzameny {
    margin: 0;
    width: 20%;
    padding-left: 10px;
    border: 1px solid purple;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1px;
}

.meny-underrubrik {
    margin: 10px 0;
    font-size: x-large;
}

h3 {
    margin: 0;
    padding: 10px; 
}

p {
    margin: 0;
    padding: 10px;
    margin-top: -10px;
}

.om-oss {
    width: 50%;
}

.image-om-oss {
    width: 700px;
    height: auto;
    border-radius: 30px;
    align-items: center;
}

.rubrik-om-oss {
    border: 0.5px solid purple;
    border-radius: 30px;
    padding: 10px;
    width: 80px;
}

aside {
    width: 25%;
    margin: 0;
    padding-left: 10px;
    padding-right: 0;
    border: 1px solid purple;
    border-radius: 30px;
}






